# Prettier Ignore
# See: https://prettier.io/docs/en/ignore.html

.yarn/
build/
cjs/
coverage/
esm/
node_modules/

**/CHANGELOG.md
.eslintignore
.env.*
.env
.gitignore
.gitkeep
.prettierignore
yarn.lock
